.root {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid red;
}

.logo-container {

}

.logo {
  width: 250px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0 20px;
}
.nav-items > ul > li {
  margin: 10px;
  font-size: 34px;
}

.restaurant-container {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  flex-wrap: wrap;
}

.restaurant-card {
  padding: 20px;
  margin: 10px;
  min-width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 5%;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.restaurant-logo {
  width: 150px;
}
